$size: 128px;

.Transitions {
  .container {
    position: absolute;
    top: 0;
    left: 100vw;
    &.active {
      left: 0;
    }
  }

  .item-box {
    display: inline-block;
    cursor: pointer;
    width: $size;
    height: $size;
    margin: 16px;
  }

  .grid-image {
    width: $size;
    height: $size;
    object-fit: contain;
  }
}
