$size: 128px;

.Transitions {
  padding: 1em;

  .container {
    position: absolute;
    top: 0;
    left: 100vw;
    &.active {
      left: 0;
    }
  }

  .item-box {
    display: inline-block;
    cursor: pointer;
    width: $size;
    height: $size;
    margin: 16px;
  }

  .grid-image {
    width: $size;
    height: $size;
    object-fit: contain;
  }
}

.Item {
  img {
    width: 80vw;
    height: 80vh;
    object-fit: contain;
  }
  .swatch-container {
    margin: 1em 0;
  }
  .swatch {
    display: inline-block;
    &.dominant {
      width: 32px;
      height: 32px;
    }
    width: 16px;
    height: 16px;
    box-shadow: 2px 2px 8px black;
    border-radius: 8px;
  }
}
